In [1]:
print("hello world")

hello world

In [2]:
print
def add(a, b):
    """Returns the sum of a and b."""
    return a + b
print(add(3, 4))

7

In [5]:
for i in range(100):
    print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [6]:
print(2+2   )

4

In [7]:
print("2"+2)

TypeError: can only concatenate str (not "int") to str

In [8]:
print(2.2+2)

4.2

In [9]:
a=10
print

In [10]:
a=10
print(a)

10

In [11]:
type(a)

int

In [12]:
a="mrs"
print(a)
type(a)

mrs

str

In [14]:
a='a' 
type(a)

str

In [15]:
nmae="mritunjay shah"
roll=230323
age=22
print(nmae,roll,age)

mritunjay shah 230323 22

In [1]:
print(name,"\n",roll,"\n",age  )

NameError: name 'name' is not defined

In [2]:
print

In [3]:
print("hello world2")

hello world2

In [4]:
a,b,c=10,20,30
print(a, b, c)

10 20 30

In [5]:
print(b,a,c)

20 10 30

In [6]:
x=2+3j
y=3+4j
print(x+y)

(5+7j)

In [7]:
print(x.real)

2.0

In [8]:
print(x.conjugate)

<built-in method conjugate of complex object at 0x106508730>

In [9]:
print(x.conjugate())

(2-3j)

In [11]:
a=input("enter a number: ")

In [12]:
print(a)

98

In [13]:
a=inpput("enter a number: ")
print(a)

NameError: name 'inpput' is not defined

In [14]:
a=input("enter a number: ")
print("You entered:", a)

You entered: 98

In [15]:
x=input("please enter your age ")

In [16]:
type(x)

str

In [17]:
x=int(x)

In [18]:
if x>18:
    print("You are an adult.")

You are an adult.

In [22]:
print(a[0:2])

Mr

In [23]:
print(a[::])

Mritunjay Shah

In [24]:
print(a[0:8:2])

Miuj

In [26]:
print(a[::-1])

hahS yajnutirM

In [32]:
text = "       This is an old text."
print(text.lower() )
print(text.upper() )
print(text.strip() )
print(text.title() )
print(text.replace("old", "new"))
print(text.split(" ",-1))
print(text.split())
print(text.strip())

       this is an old text.
       THIS IS AN OLD TEXT.
This is an old text.
       This Is An Old Text.
       This is an new text.
['', '', '', '', '', '', '', 'This', 'is', 'an', 'old', 'text.']
['This', 'is', 'an', 'old', 'text.']
This is an old text.

In [33]:
print(assignment := 5)

5