In [2]:
fruit=["apple", "banana", "cherry", "date", "elderberry"]
print(fruit)
print(fruit[3])
print(fruit[1:3])
print(fruit[::-1])

['apple', 'banana', 'cherry', 'date', 'elderberry']
date
['banana', 'cherry']
['elderberry', 'date', 'cherry', 'banana', 'apple']

In [3]:
print(dir(fruit))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [4]:
print(len(fruit))

5

In [5]:
fruit[0]="pineapple"

In [6]:
"apple" in fruit

False

In [7]:
fruit.append("fig")

In [9]:
print(fruit[::])

['pineapple', 'banana', 'cherry', 'date', 'elderberry', 'fig']

In [10]:
fruit.pop(1 )

'banana'

In [11]:
fruit.insert(1, "grape")

In [12]:
print(fruit[::])

['pineapple', 'grape', 'cherry', 'date', 'elderberry', 'fig']

In [3]:
# Make sure to run the previous cells where 'fruit' is defined before running this cell.
fruit.sort()

In [4]:
print(fruit[::])

['apple', 'banana', 'cherry', 'date', 'elderberry']

In [6]:
print(fruit.index("banana"))

1

In [7]:
print(fruit.count("banana"))

1

In [8]:
list1=[1,2,3,[4,5]]
print(1 in list1)

True

In [10]:
print(4 in list1[3])

True

In [11]:
list=[1,2,3,[4,5,[6,7,8],9]]

In [12]:
print(list[3])

[4, 5, [6, 7, 8], 9]

In [13]:
print(list[3][2])

[6, 7, 8]

In [15]:
print(list[3][2][1])

7

In [21]:
squares=[x**2 for x in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

In [22]:
words=['apple', 'banana', 'cherry']
uppercased= [word.upper() for word in words]
print(uppercased)

['APPLE', 'BANANA', 'CHERRY']

In [29]:
fruits = {"apple", "orange", "banana", "kiwi","apple","orange"}

In [30]:
print(fruit[::])

['apple', 'banana', 'cherry', 'date', 'elderberry']

In [26]:
print(dir(fruits))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [31]:
fruits.pop()

'orange'

In [32]:
print(fruits)

{'banana', 'kiwi', 'apple'}

In [33]:
superheroes = {"Superman", "Batman", "Wonder"}

In [35]:
superheroes.remove("Batman")

KeyError: 'Batman'

In [36]:
superheroes.discard("Superman")

In [37]:
fruits=("apple", "orange", "banana", "kiwi")
print(fruits)

('apple', 'orange', 'banana', 'kiwi')

In [38]:
fruits=('apple', 'orange', 'banana', 'kiwi')
print(fruits)

('apple', 'orange', 'banana', 'kiwi')

In [39]:
print(dir(fruits))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [40]:
print(fruits.index("banana"))

2

In [42]:
newtupple = ('apple', 'orange', 'banana', 'kiwi')
y = ("orange",)  
newtupple += y
print(newtupple)

('apple', 'orange', 'banana', 'kiwi', 'orange')

In [48]:
fruits = ('apple', 'banana', 'kiwi','cherry')
green, yellow, red,blue = fruits
print(green)
print(yellow)
print(red)
print(blue)

apple
banana
kiwi
cherry

In [50]:
(green,yellow,*red)= fruits
print(green)
print(yellow)
print(*red)

apple
banana
kiwi cherry

In [51]:
t=(1,2,(3,4),["a","b"])

In [55]:
fruits = ("apple",)  
del list  
print(list(fruits))

['apple']

In [60]:
list=(1,"hellow",3.14,True)
tuple=(1,"hellow",3.14,True)
set=(1,"hellow",3.14,True)

In [61]:
print(set,list,tuple)

(1, 'hellow', 3.14, True) (1, 'hellow', 3.14, True) (1, 'hellow', 3.14, True)

In [62]:
fruit=["apple", "banana", "cherry", "date", "elderberry"]
if "banana" in fruit:
    print("Banana is in the list of fruits.")
else:
    print("Banana is not in the list of fruits.")

Banana is in the list of fruits.

In [66]:
i=0
while i < len(fruit):
    print(fruit[i])
    i += 1
print(fruit*2)

apple
banana
cherry
date
elderberry
['apple', 'banana', 'cherry', 'date', 'elderberry', 'apple', 'banana', 'cherry', 'date', 'elderberry']

In [64]:
print(fruit*2)

['apple', 'banana', 'cherry', 'date', 'elderberry', 'apple', 'banana', 'cherry', 'date', 'elderberry']

In [72]:
student={
    1:"first",
    "name":"mrs",
    "age": 20,
    "courses":["math", "english", "science"],
    
}
print(student)

{1: 'first', 'name': 'mrs', 'age': 20, 'courses': ['math', 'english', 'science']}

In [74]:
print(dir(student))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [75]:
student=dict(name="mrs", age=20, courses=["math", "english", "science"])

In [78]:
student["courses"].append("history")
student["age"]=21

In [79]:
print(student["age"])

21

In [80]:
if "mrs" in student.values():
    print("mrs is in the student dictionary.")

mrs is in the student dictionary.

In [81]:
for key in student:
    print(key)
for value in student.values():
    print(value)
for key, value in student.items():
    print(f"{key}: {value}")

name
age
courses
mrs
21
['math', 'english', 'science', 'history', 'history', 'history']
name: mrs
age: 21
courses: ['math', 'english', 'science', 'history', 'history', 'history']

In [82]:
squares={x: x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}